:root {
  color-scheme: light dark;
  color: #aaa;
  background-color: #242424;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #fafafa;
  }
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 13rem;
  margin: 12px;
  font-size: 14px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  user-select: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  text-transform: uppercase;
}

#copy-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  border: none;
  border-radius: 0.4rem;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  /* color: #eeeeeea3; */
  color: #eee;
  background-color: #ffffff1f;
  font-size: 14px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.button-label {
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}

.icon {
  font-size: 0;
}

.button-primary {
  height: 46px;
}

.button-primary:focus {
  color: #fff;
  background-color: #1f515e;
}

.button-secondary {
  display: flex;
  align-items: center;
  height: 28px;
  padding: 0 10px;
  font-size: 12px;
  color: inherit;
  background-color: transparent;
  border: 1px solid #eeeeee4d;
}

.button-secondary:focus {
  color: #fff;
  border-color: #ddd;
}

.button-secondary .button-label {
  max-width: 180px;
}

.button-secondary .icon {
  margin-left: 8px;
}

#format-section {
  display: flex;
  flex-direction: column;
}

#format-section.expanded .icon {
  transform: rotate(180deg)
}

.format-header {
  display: flex;
  align-items: center;
  margin-left: 2px;
  font-size: 12px;
}

#primary-format-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  border-color: transparent;
}

#primary-format-btn:hover {
  color: #fff;
}


#primary-format-btn .button-label {
  max-width: 100px;
}

#format-selector {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4rem;
  margin-top: 10px;
}

#format-section.expanded #format-selector {
  display: inline-flex;
}