:root {
  color-scheme: light dark;
  color: #000;
  background-color: #fafafa;

  @media (prefers-color-scheme: dark) {
    color: #aaa;
    background-color: #242424;
  }
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 208px;
  min-width: 208px;
  margin: 12px;
  user-select: none;
  font-size: 14px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  &.with-counts {
    width: 232px;
    min-width: 232px;
  }
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  text-transform: uppercase;

  .headerButtons {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    gap: 2px;
    padding-right: 6px;

    :is(button) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      height: 24px;
      padding: 0 10px;
      font-size: 10px;
      border-radius: 1000px;
      color: transparent;
      background-color: transparent;

      /* is icon only */
      &:not(:has(span)) {
        width: 24px;
        padding: 0;
      }

      & svg {
        width: 12px;
        height: 12px;
        color: #727272;

        @media (prefers-color-scheme: dark) {
          color: #ffffff60;
        }
      }

      & span {
        display: none;
      }

      &:hover {
        color: #444;
        background-color: #e8e8e8;
        /* transition: color 200ms ease-in, background-color 200ms ease-in; */

        @media (prefers-color-scheme: dark) {
          color: #ddd;
          background-color: #ffffff1a;
        }

        & svg {
          color: #000;

          @media (prefers-color-scheme: dark) {
            color: #fff;
          }
        }

        & span {
          display: initial;
        }
      }
    }
  }
}

#copy-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .button-primary {
    position: relative;

    &::after {
      /* pseudo-element doesn't render when content is none */
      content: var(--count, none);
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      padding: 0 8px;
      font-size: 10px;
      border-radius: 1000px;
      background-color: #ffffffcf;

      @media (prefers-color-scheme: dark) {
        background-color: #ffffff1c;
      }
    }

    &.single-digit-count::after {
      width: 20px;
      padding: 0;
    }

    &:focus::after {
      background-color: #ffffff30;

      @media (prefers-color-scheme: dark) {
        background-color: #ffffff1c;
      }
    }
  }
}

button {
  border: none;
  border-radius: 0.4rem;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
  background-color: #e8e8e8;
  cursor: pointer;
  font-size: 14px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  @media (prefers-color-scheme: dark) {
    color: #eee;
    background-color: #ffffff1f;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.button-label {
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}

.icon {
  font-size: 0;
}

.button-primary {
  height: 46px;
}

.button-primary:focus {
  color: #fff;
  background-color: #1c7c96;

  @media (prefers-color-scheme: dark) {
    background-color: #1f515e;
  }
}

.button-secondary {
  display: flex;
  align-items: center;
  height: 28px;
  padding: 0 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  color: inherit;
  background-color: transparent;

  @media (prefers-color-scheme: dark) {
    border: 1px solid #eeeeee4d;
  }
}

.button-secondary:focus {
  color: #000;
  border-color: #333;

  @media (prefers-color-scheme: dark) {
    color: #fff;
    border-color: #ddd;
  }
}

.button-secondary .button-label {
  max-width: 180px;
}

.button-secondary .icon {
  margin-left: 8px;
}

#format-section.expanded .icon {
  transform: rotate(180deg)
}

.format-header {
  display: flex;
  align-items: center;
  margin-left: 2px;
  font-size: 12px;
}

#default-format-btn {
  margin-left: auto;
  border-color: transparent;

  &.keep-expanded {
    cursor: default;
    color: #000;
    font-weight: 500;

    @media (prefers-color-scheme: dark) {
      color: #fff;
      font-weight: normal;
    }

    .icon {
      display: none;
    }
  }
}

#default-format-btn:hover {
  color: #000;

  @media (prefers-color-scheme: dark) {
    color: #fff;
  }
}

#default-format-btn .button-label {
  max-width: 100px;
}

#format-selector {
  display: none;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4rem;
  margin-top: 10px;
}

#format-section.expanded #format-selector {
  display: inline-flex;
}