/*
// Add your own style rules here, not in css/main.css
// or css/setting.css for easy updating reasons.
*/

textarea {
    width: 400px;
    height: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    font-family: monospace;
}

span.copy-link {
    font-size: 130%;
    margin-left: 5pt;
}
