.TextOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;

  .label {
    margin-bottom: 2px;
    font-size: 0.8rem;
    color: #aaa;

    @media (prefers-color-scheme: dark) {
      color: #888;
    }
  }

  :is(input) {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
  }
}