ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  position: relative;
  width: 300px;
  user-select: none;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #363636;
  cursor: grab;

  &:hover {
    background-color: #454545;
  }
}

.side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  min-width: 36px;
  height: 36px;

  &.right {
    :is(button) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      font-size: 0;
      border-radius: 100%;
      color: #ffffff7a;

      &:focus-visible,
      &:hover {
        color: #fff;
        background-color: #00000036;
        box-shadow: #fffbed3c 0 0 0 1px inset;
      }
    }

    :is(svg) {
      width: 16px;
      height: 16px;
    }
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  flex-grow: 1;
  margin: 0 10px;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 200ms;

  &.unselectable {
    opacity: 0.5;
  }

  :is(span) {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

  .description {
    font-size: 10px;
    color: #ffffff8c;
  }

  /* &.primary .description {
    color: #fed736;
  } */
}