ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  position: relative;
  width: 300px;
  user-select: none;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #fff;
  cursor: grab;

  @media (prefers-color-scheme: dark) {
    background-color: #363636;

    &:hover {
      background-color: #454545;
    }
  }
}

.side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  min-width: 36px;
  height: 36px;
  padding: 10px 0;

  &.left {
    padding-left: 10px;
  }

  &.right {
    padding-right: 10px;

    :is(button) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      font-size: 0;
      border-radius: 100%;
      color: #333;

      @media (prefers-color-scheme: dark) {
        color: #ffffff7a;
      }

      &:focus-visible,
      &:hover {
        color: #000;
        background-color: #eee;

        @media (prefers-color-scheme: dark) {
          color: #fff;
          background-color: #00000036;
          box-shadow: #fffbed3c 0 0 0 1px inset;
        }
      }
    }

    :is(svg) {
      width: 16px;
      height: 16px;
    }
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  flex-grow: 1;
  margin: 0 10px;
  line-height: 1.4;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 200ms;

  &.hidden {
    opacity: 0.3;
  }

  :is(span) {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

  .description {
    font-size: 10px;
    font-weight: normal;
    color: #7e7e7e;

    @media (prefers-color-scheme: dark) {
      color: #ffffff8c;
    }

    .text.hidden & {
      color: inherit;
    }
  }
}

.tip {
  position: absolute;
  left: 100%;
  width: max-content;
  max-width: 170px;
  padding: 8px 12px;
  margin-left: 20px;
  font-size: 0.7rem;
  border: 1px solid #00000058;
  border-radius: 6px;
  text-align: center;
  white-space: pre-wrap;
  background-color: #f7f7f7;
  visibility: hidden;
  opacity: 0;

  li:hover & {
    visibility: visible;
    opacity: 1;
    transition: opacity 300ms ease-in;
  }

  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 8px;
    height: 8px;
    top: 50%;
    right: 100%;
    transform-origin: center;
    transform: translateY(-50%) translateX(50%) rotate(45deg);
    /* intentional higher alpha */
    border-left: 1px solid #00000088;
    border-bottom: 1px solid #00000088;
    background-color: #f7f7f7;
  }

  @media (prefers-color-scheme: dark) {
    border: 1px solid #ffffff58;
    background-color: #242424;

    &::after {
      /* intentional higher alpha */
      border-left: 1px solid #ffffff88;
      border-bottom: 1px solid #ffffff88;
      background-color: #242424;
    }
  }

  .tipFormatDescription {
    display: initial;

    .side.right:has(button:hover)+.tip & {
      display: none;
    }
  }

  .tipFormatOpts {
    display: none;

    .side.right:has(button:hover)+.tip & {
      display: initial;
    }
  }
}