.screenshotContainer {
  display: flex;
  justify-content: center;
}

.screenshot {
  width: auto;
  /* explicit height avoids load jank */
  height: 316.67px;
  transform: translateY(-24px);
  filter: drop-shadow(2px 4px 16px #0000005e);
}