.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  h1 {
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
    text-transform: uppercase;
    color: #000;

    @media (prefers-color-scheme: dark) {
      color: #f3e5ab;
    }
  }
}